<!DOCTYPE html>
<html>
  <head>
    <% include headerStuff %>
  </head>
  <body>
    <div class="container-fluid">
    <% include pageHeader %>
    <% if (notelist.length > 0) { %>
      <div class="row"><div class="col-xs-12">
    <ul><%
    for (var note of notelist) {
      %><li><%= note.key %>:
      <a href="/notes/view?key=<%=note.key %>"><%= note.title %></a>
    </li><%
    }
    %></ul>
    <% } %>
  </div></div>
    <% include footer %>
  </div>
  </body>
</html>
